<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>@@author.name</string>
	<key>CFBundleDisplayName</key>
	<string>@@safari.CFBundleDisplayName</string>
	<key>CFBundleIdentifier</key>
	<string>@@safari.CFBundleIdentifier</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>@@version</string>
	<key>CFBundleVersion</key>
	<string>@@version</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>content.end.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>@@safari.Description</string>
	<key>DeveloperIdentifier</key>
	<string>@@safari.DeveloperIdentifier</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>@@safari.DownloadUrlPrefix/@@safari.UpdateManifest</string>
	<key>Website</key>
	<string>@@safari.Website</string>
</dict>
</plist>
